@model MultispatialLogistics.Core3.Models.Stargate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stargate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSystemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentSystemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentSystemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentSystemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StargateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StargateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationSystemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationSystemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationStargateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationStargateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XPos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XPos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YPos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YPos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZPos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZPos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
