@model IEnumerable<MultispatialLogistics.Core3.Models.Stargate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentSystemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentSystemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StargateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationSystemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationStargateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XPos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YPos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZPos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentSystemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentSystemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StargateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationSystemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationStargateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XPos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YPos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZPos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
