@model IEnumerable<MultispatialLogistics.Core3.Models.Stargate>

@{
    ViewData["Title"] = "Index";
}

<h1>Stargates - @Model.Count() entries</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ParentSysID
            </th>
            <th>
                ParentSysName
            </th>
            <th>
                StargateID
            </th>
            <th>
                DestSysID
            </th>
            <th>
                DestStargateID
            </th>
            <th>
                XPos
            </th>
            <th>
                YPos
            </th>
            <th>
                ZPos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentSystemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentSystemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StargateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationSystemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationStargateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XPos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YPos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZPos)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
